<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions - THE_CASINO_COMPANY</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
      background-color: black;
      color: gold;
    }
    body::-webkit-scrollbar {
        width:  0em;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #ff0000;
    }
    
    body::-webkit-scrollbar-track {
        background-color: #000000;
    }
  </style>
</head>
<body>

  <center><h1>Terms and Conditions</h1></center>

  <p>Welcome to THE_CASINO_COMPANY. By using our services, you agree to comply with and be bound by the following terms and conditions. Please read these terms carefully before accessing our casino games.</p>

  <h2>1. Eligibility</h2>
  <p>You must be at least 18 years old to use our services. By accessing our casino games, you confirm that you meet this age requirement and any other legal requirements in your jurisdiction.</p>

  <h2>2. Account Registration</h2>
  <p>To participate in our casino games, you must create an account. You agree to provide accurate and complete information during the registration process and to update such information to keep it current.</p>

  <h2>3. Responsible Gaming</h2>
  <p>We promote responsible gaming. If you feel that you have a gambling problem, we encourage you to seek help from relevant support organizations. We provide tools for self-exclusion and deposit limits to assist in responsible gaming.</p>

  <h2>4. Game Rules</h2>
  <p>Each casino game has its own rules and guidelines. It is your responsibility to familiarize yourself with the rules before participating in any game. THE_CASINO_COMPANY reserves the right to modify game rules at its discretion.</p>

  <h2>5. Privacy Policy</h2>
  <p>Your use of our services is also governed by our Privacy Policy. Please review our Privacy Policy to understand our practices regarding the collection and use of your information.</p>

  <h2>6. Termination of Account</h2>
  <p>We reserve the right to terminate or suspend your account at our discretion, without prior notice, for any reason, including but not limited to violation of these terms and conditions.</p>

  <h2>7. Changes to Terms</h2>
  <p>THE_CASINO_COMPANY may update these terms and conditions at any time. It is your responsibility to review these terms periodically for changes. Continued use of our services after any modifications shall constitute your consent to such changes.</p>

  <h2>8. Contact Information</h2>
  <p>If you have any questions about these terms and conditions, please contact us at support@comp.casino@gmail.com.</p>

  <p>Last Updated: 20/12/23</p>

</body>
</html>
