<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/lock.css' rel='stylesheet'>
    <link rel="stylesheet" href="../stylesheets/Casino.css">
</head>
<body>
    <nav class="navbar">
        <div class="navoptions"><b>LOGO</b></div>
        <div class="navoptions" id="menu">
            <div id="navmenu"></div>
            <div id="navmenu"></div>
            <div id="navmenu"></div>
        </div>
    </nav>
    <div class="king" id="MENU">
        <div class="cross">
            <div class="leg1"></div>
            <div class="leg2"></div>
        </div>
        <li class="submenu"><a href="/">HOME</a></li>
        <li class="submenu"><a href="/about">ABOUT</a></li>
        <li class="submenu"><i class="gg-lock"></i>TRY</li>
        <li class="submenu"><a href="/register"><%= a %></a></li>
    </div>
    <div class="main">
        <div class="part"><img src="../images/World.jpeg" alt="fuck"></div>
        <div class="part parth"><center><h1>NEW ERA OF CASINO IS ABOUT TO COME</h1><br>DO REGISTER RIGHT NOW TO HAVE BENEFITS IN FUTURE !!!</center></div>
    </div>
    <center><div class="hr"></div></center>
    <div class="container">
        <div class="item"><img src="../images/777.jpeg" alt="fuck"></div>
        <div class="item"><img src="../images/Color.jpeg" alt="fuck"></div>
        <div class="item"><img src="../images/Multi.jpeg" alt="fuck"></div>
    </div>
    <script src="../javascript/Casino.js"></script>
</body>
</html>
